body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.5; Adjust the opacity to your preference */
}

.add-member-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.add-member-overlay {
    background-color: rgba(0, 0, 0, 0.85); /* Dark overlay for better readability */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 800px;
    color: #fff;
}

.add-member-title {
    text-align: center;
    margin-bottom: 20px;
}

.add-member-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-label {
    margin-bottom: 5px;
}

.form-input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent input background */
    color: #fff;
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}

#status.active {
    color: green;
}

#status.inactive {
    color: red;
}
