/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Login page specific styling */
.login-body {
    position: relative;
    background: url('../images/gym_background_image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent black overlay */
    z-index: 1;
}

.login-container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
    color: white;
    max-width: 400px;
    width: 100%;
}

.login-logo {
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.login-title {
    margin-bottom: 20px;
    font-size: 2em;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white input fields */
}

.login-button {
    padding: 15px;
    font-size: 1em;
    background: #e50914; /* Netflix red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

.login-button:hover {
    background: #f6121d;
}

.forgot-password-link {
    margin-top: 10px;
    color: #b3b3b3;
    text-align: center;
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}
